*{
    margin: 0;
}
body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.powie{
    flex-direction: row;
    font-size: 24px;
    column-gap: 5px;
}
.pow-logo{
    color: blueviolet;
    display: flex;
    justify-content: center;
    font-weight: 300px;
    font-size: 80px;
    font-family: cursive;
    text-shadow: 2px 4px 6px red;
    padding: 15px 10px;
}
.powie2{
    display: flex;
    justify-content: left;
}
.pow-button{
    background-image: url(back.jpg);
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-family: cursive;
    padding: 5px;
}